---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.hidden == false and page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.hidden == false and page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

<div id="change">
    <strong>Get Updates on Telegram</strong>
    <p>
        We share the every post update using our telegram bot,
    </p>
    <button id="telegram-chat-button">
        <a target="_blank" href="https://t.me/sharmapacificbot" style="text-decoration: none;">
            <strong id="telegram-text">Get Updates on Telegram</strong>
        </a>
    </button>
    <br>
    <a class="powered" href="https://notifier.taskforge.co" style="text-align: right; float: right;">Powered by Go Weasel</a>
</div>

{% if site.related %}
    {% include related.html %}
{% endif %}

<style type="text/css">
    #telegram-chat-button {
        background: #2481CC;
        border-radius: 0.3em;
        border: 0px;
        padding: 18px 18px;
        color: #ffffff;
        display: inline-block;
        font-family: Georgia,Times,serif;
        text-align: center;
    }

    #telegram-text {
        color: #fff;
    }

    div#change {
        margin: 2em 0 !important;
        padding: 2em;
        color: #494e52;
        font-family: Georgia,Times,serif;
        font-size: .75em !important;
        text-indent: initial;
        background-color: #ecf6ec;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(63,166,63,0.25);
        text-align: center;
    }
</style>

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
